In [66]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np
from sklearn.decomposition import PCA

In [67]:
df = pd.read_csv('~/EPITECH/TEK5/Data-tests/KaDo.csv')

In [68]:
pd.set_option('display.max_columns', None)

In [69]:
df.columns

Index(['TICKET_ID', 'MOIS_VENTE', 'PRIX_NET', 'FAMILLE', 'UNIVERS', 'MAILLE',
       'LIBELLE', 'CLI_ID'],
      dtype='object')

In [70]:
to_drop = ['TICKET_ID', 'MOIS_VENTE', 'UNIVERS', 'MAILLE', 'LIBELLE']
df.drop(to_drop, inplace=True, axis=1)

In [71]:
train, validate, test = np.split(df.sample(frac=1, random_state=42), [int(.6*len(df)), int(.8*len(df))])

In [72]:
train.size

13041939

In [73]:
categories = [col for col in train.columns if train[col].dtypes == 'O']
categories

['FAMILLE']

In [74]:
ohe = OneHotEncoder(sparse=False, drop='first')

In [75]:
train_encoded = pd.DataFrame(ohe.fit_transform(train[categories]), columns=ohe.get_feature_names(), index=train.index)

In [76]:
train_data = pd.concat([train_encoded, train.drop(categories, axis=1)], axis=1)

In [77]:
train_data

,x0_HYGIENE,x0_MAQUILLAGE,x0_MULTI FAMILLES,x0_PARFUMAGE,x0_SOINS DU CORPS,x0_SOINS DU VISAGE,x0_SOLAIRES,PRIX_NET,CLI_ID
6247049,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.65,993274543
3529634,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.90,980918483
2432998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.95,975080273
585737,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00,958783413
191928,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12.50,940731348
...,...,...,...,...,...,...,...,...,...
4402029,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.95,987803456
2571098,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.90,975564143
2849133,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.95,976784021
2453249,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.50,975147387
4414410,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.50,987851744